.sidebarcontainer{
    flex: 3;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    /* background-color: yellowgreen; */
}
::-webkit-scrollbar{
 width: 5px;

}
::-webkit-scrollbar-track{
    background-color: rgb(245, 245, 245);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(159, 158, 158);
    border-radius: 5px;
   }

.sidebariconcontainer{
    padding: 15px;
}
.siderbarIconList{
   /* margin-bottom: 20px; */
   margin: 5px;
   padding: 0;
}
.siderbarIconListItem{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 17px;
}
.siderbarListItemIcon{
    color: rgb(82, 82, 82) !important;
    margin-right: 20px; 
    cursor: pointer;
}
.siderbarListItemText{
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(82, 82, 82);
}
.sidebarButton{
    border: none;
    font-size: 12px;
    padding:5px 25px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
}
.sidebarHr{
    /* width: 30%; */
}
.friendlist{
 padding: 5px;
}
.friendlistItem{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
   gap: 10px;
}
.friendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    
}
.friendName{
  font-weight: 400;
}