.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.6);
-webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);

}
.sharewrapper{
    padding: 15px;
}
.sharetop{
 display: flex;
 align-items: center;
}
.shareImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.sharetext{
    width: 70%;
    border: none;
    font-size: 15px;
}
.sharetext:focus{
    outline: none;
}
.sharehr{
    margin: 20px;
}
.sharebottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sharebottomitems{
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.sharebottomitem{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.sharebottomitemicon{
    font-size: 12px;
    /* margin-right: 5px; */
}
.sharebottomitemspan{
    font-size: 15px;
}
.shareBtn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: green;
    color: white;
    margin-right: 20px;
}
